option value="onepassword" 1Password: Open link
option value="twodays" 2 Days: Add todo with link to page
option value="buffer" Buffer: New post with link
option value="cleanlinks" Clean Links: Clean a link
option value="clear" Clear: Add todo to list
option value="commandcmac" Command-C: Send link to Mac
option value="commandciphone" Command-C: Send link to iPhone
option value="commandcipad" Command-C: Send link to iPad
option value="drafts" Drafts: New note with link
option value="draftscustom" Drafts: Trigger action by name
option value="due" Due: New reminder with link
option value="editorial" Editorial: Open page in browser
option value="fantastical" Fantastical: New reminder with link
option value="instapaper" Instapaper: Bookmark link
option value="omnifocus" OmniFocus: New todo with link
option value="pincase" Pincase: Bookmark link
option value="pinner" Pinner: Bookmark link
option value="pinswift" Pinswift: Bookmark link
option value="pushpin" Pushpin: Bookmark link
option value="pythonista" Pythonista: Trigger script by name
option value="riposte" Riposte: New post with link
option value="taskagent" Task Agent: Add todo with link to list
option value="texttool" TextTool: Encode link
option value="things" Things: Add todo with link
option value="tumblr" Tumblr: New link post
option value="tweetbot" Tweetbot: New tweet with link